/* добавить эслинт для порядка свойств CSS, ввести CSS-переменные, понять, почему не отображается видео */
/* GENERAL */
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1.4rem;
  color: #252b42;
  font-weight: 500;
  background: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul, 
ol, 
li {
  list-style: none;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 10.4rem;
  align-items: center;
}

.header__logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  color: #737373;
  line-height: 2.4;
  font-weight: 600;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 7rem;
  }

  .header__menu {
    margin: 0 0 0 20px;
  }

  .menu__link {
    font-size: 18px;
  }
}

/* MAIN */
.page {
  flex: 1 1 auto;
}

.page__services {
  position: relative;
  margin: -111px 0 0 0;
  z-index: 2;
}

.page__clients:not(:last-child) {
  margin: 0 0 10px 0;
}

/* HEADER-BLOCK */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block__sub-title {
  color: #737373;
  font-size: 14px;
  line-height: 142%;
}

/* MAIN */
.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}

.main-block__title {
  font-size: 5.8rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: calc(80 / 58 * 100%);
}

.main-block__text {
  color: #737373;
  font-size: 2rem;
  line-height: 150%;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #585757;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
  
  .main-block__title {
    font-size: 42px;
  }

  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

/* SERVICES */
.services__column {
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 35px;
  height: 100%;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-service__text {
  color: #737373;
}

.item-service_modified {
  background: #0D5C63;
}

.item-service_modified > * {
  color: #fff;
}

/* ADVANTAGES */
.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

.advantages__header {
  margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }

  .advantages__header {
    margin: 0 0 25px 0;
  }
}

.advantages__body {
  display: flex;
  margin: 0 -15px -30px;
  flex-wrap: wrap;
}

.advantages__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background: #fff;
  text-align: center;
  padding: 30px;
  font-weight: 700;
  height: 100%;
}

.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
}

.advantages__text {
  letter-spacing: 0.1px;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

/* PRACTICE */
.practice {
  padding: 125px 0 80px 0;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

.practice__header {
  margin: 0 0 45px 0;
}

@media (max-width: 767px) {
  .practice {
    padding: 0 0 40px 0;
  }

  .practice__header {
    margin: 0 0 25px 0;
  }
}

.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

/* WHOWEARE */
.whoweare {
  background: #fff;
  padding: 80px 0 130px 0;
}

.whoweare__header {
  margin: 0 0 100px 0;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

@media (max-width: 1180px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

.whoweare__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.whoweare__text {
  line-height: 142%;
  color: #737373;
}

.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  color: #737373;
  line-height: 142%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 225px;
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }

  .whoweare__header {
    margin: 0 0 30px 0;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .item-whoweare__body:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .whoweare__content {
    padding: 0 0 0 0;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0 0 0;
  }

  .whoweare__title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0 50px 0;
  }

  .whoweare__video:not(:last-child) {
    margin: 30px 0 0 0;
  }

  .whoweare__top:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

/* CLIENTS */
.clients {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  flex: 0 1 16.6667%;
  text-align: center;
  padding: 8px 15px;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/* SUBSCRIBE */
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe::before {
  content: "";
  background: #252b42;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background: #17213c;
  border-radius: 2px;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}

.subscribe__title {
  color: #fff;
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
}

@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }

  .subscribe__title {
    max-width: 266px;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  color: #737373;
  border-right: 0;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 22px;
}

@media (max-width: 810px) {
  .subscribe__body {
    padding: 20px 15px;
    margin: 0 -15px;
  }

  .subscribe__title {
    margin: 0 0 20px 0;
  }

  .subscribe__input {
    padding: 0 15px;
  }

  .subscribe__button {
    padding: 0 15px;
  }
}

/* GETINTOUCH */
.getintouch {
  padding: 80px 0 135px 0;
}
.getintouch__header {
  margin: 0 0 80px 0;
}

.getintouch__items {
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center; 
    margin: 0;
  }
}

@media (max-width: 767px) {
  .getintouch__header {
    margin: 0 0 30px 0;
  }
}

.getintouch__item {
  flex: 0 1 33.3333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 50px 15px;
}

.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-getintouch__button {
  border-radius: 5px;
  border: 1px solid #FF7B47;
  color: #FF7B47;
  padding: 5px 20px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 142%;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
  background: #FF7B47;
  color: #fff;
}

.item-getintouch_active {
  background: #252B42;
  color: #fff;
  padding: 80px 15px;
}

@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0;
  }

  .getintouch__header {
    margin: 0 0 50px 0;
  }

  .item-getintouch_active {
    padding: 50px 15px;
  }
}

.item-getintouch_active > .item-getintouch__button {
  color: #fff;
  border: 1px solid #fff;
}

/* CONTACT */
.contact {
  background: #fff;
  padding: 42px 0;
}

.contact__content {
  padding: 0 0 20px 0;
}

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    padding: 0 20px 0 0;
  }
}

.contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  justify-content: center;
  min-height: 58px;
  border-radius: 5px;
  background-color: #FF7B47;
  align-items: center;
  text-align: center;
  padding: 5px 40px;
  color: #fff;
}

.contact__button:hover {
  background-color: #aa5330;
  transition: background-color 0.3s ease 0s;
}

/* FOOTER */
.footer {
}
.footer__top {
  padding: 50px 0;
  background: #17213C;
}

.footer__main {
}

.footer__row {
  display: flex;
  margin: 0 -15px;
}

.footer__column {
  padding: 0 15px;
  flex: 0 1 20%;
}
.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 20px 0;
}

.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.menu-footer__link {
  color: #fff;
  letter-spacing: 0.2px;
}

.footer__bottom {
}
.footer__container {
}
